repos:

  - repo: https://github.com/psf/black
    rev: 21.5b2
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          # Splitting dashes and items on separate lines is intentional,
          # enables Renovate's pip_requirements manager to update this file.
          -
            pycodestyle ==2.7.0
          -
            pyflakes ==2.3.1
          -
            flake8-bandit ==2.1.2
          -
            bandit ==1.7.0
          -
            flake8-bugbear ==21.4.3
          -
            flake8-docstrings ==1.6.0
          -
            pydocstyle ==6.1.1

  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies: [venv-run >=0.1.0]
        entry: venv-run mypy
        types: [python]

      - id: pytype
        name: pytype
        language: python
        additional_dependencies: [venv-run >=0.1.0]
        entry: venv-run pytype
        types: [python]

      - id: pylint
        name: pylint
        language: python
        additional_dependencies: [venv-run >=0.1.0]
        entry: venv-run pylint
        types: [python]
        exclude: ^bin/hashpipe$

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.1
    hooks:
      - id: pyupgrade
        args: [--py3-plus, --keep-percent-format]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.1.7
    hooks:
      - id: typos
