language: python
cache: pip
dist: xenial
matrix:
  fast_finish: true
  include:
    - python: "3.3"
      dist: trusty
      env: TOXENV=py33
      install: |
        pip install -U "tox<3" "pluggy<0.10" "setuptools<40" "virtualenv<15.2"
      script: tox  # no support for --skip-missing-interpreters false
    - python: "3.4"
      env: TOXENV=py34
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.7"
      env: TOXENV=py37
    - python: "3.8"
      env: TOXENV=py38
    - python: "nightly"
      env: TOXENV=py38
    - python: "pypy3.5"
      env: TOXENV=pypy3
    - python: "3.7"
      env: TOXENV=lint SKIP_CODECOV=true
install: pip install -U tox
script: tox --skip-missing-interpreters false
after_success:
  - test "$SKIP_CODECOV" = true || { pip install codecov && codecov -X gcov; }
