-r requirements-test.txt

black ==21.7b0

flake8 ==4.0.1
pycodestyle ==2.8.0
pyflakes ==2.4.0
flake8-bandit == 2.1.2
bandit ==1.7.0
flake8-bugbear ==21.4.3
flake8-docstrings ==1.6.0
pydocstyle ==6.1.1

isort ==5.9.3

mypy ==0.910

pre-commit >=1.18.2

pylint ==2.11.0
pylint-strict-informational ==0.1

python-language-server

pytype ==2021.11.12

pyupgrade ==2.24.0
