name: check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
          key: >-
            ${{ runner.os }} pip
            ${{ hashFiles('requirements-dev.txt', 'requirements-test.txt') }}
      - run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install -Ur requirements-dev.txt
      - uses: pre-commit/action@v3.0.0

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12.0-alpha - 3.12"
          - "pypy-3.9"
        include:
          - python-version: "3.5"
            os: ubuntu-20.04
          - python-version: "3.6"
            os: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          # >= 3.11 to ensure there's a recent one to run nox with
          # (assumption: last one listed ends up as "python3")
          python-version: |
            ${{ matrix.python-version }}
            >=3.11
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            .nox
          key: >-
            ${{ runner.os }} pip ${{ matrix.python-version }}
            ${{ hashFiles('requirements-test.txt') }}
      - run: |
          set -euxo pipefail
          python3 -m pip install -U nox codecov ${{ matrix.extra-deps }}
          v="${{ matrix.python-version }}"
          v=${v##* }  # "3.12.0-alpha - 3.12" -> "3.12"
          v=${v//-}   # "pypy-3.9" -> "pypy3.9"
          nox --force-color --python $v
          codecov -X gcov
        env:
          PYTEST_ADDOPTS: --color=yes
