name: checks

on:
  pull_request:
  push:
  schedule:
    - cron: "0 10 * * Fri"

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
          key: >-
            ${{runner.os}} pip
            ${{hashFiles('requirements-dev.txt', 'requirements-test.txt')}}
      - run: |
          python -m venv venv
          source venv/bin/activate
          pip install -Ur requirements-dev.txt
      - uses: pre-commit/action@v2.0.0

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.3"
          - "3.4"
          - "3.5"
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10.0-alpha - 3.10"
          - "pypy3"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            .tox
          key: >-
            ${{runner.os}} pip ${{matrix.python-version}}
            ${{hashFiles('requirements-test.txt', 'tox.ini')}}
      - run: |
          set -euxo pipefail
          if [ ${{matrix.python-version}} = 3.3 ]; then
              pip install -U \
                 "tox<3" "pluggy<0.10" "setuptools<40" "virtualenv<15.2"
              tox -e py33  # no support for --skip-missing-interpreters false
          else
              pip install -U tox codecov
              tox --skip-missing-interpreters false -e py$(
                  echo "${{matrix.python-version}}" | \
                      sed -e "s/^.* //" -e "s/\.//" -e s/^py//
              )
              codecov -X gcov
          fi
