name: pypi-upload

on:
  workflow_run:
    workflows:
      - check
    branches:
      - master
    types:
      - completed

jobs:

  release_please:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release_please
        with:
          release-type: python
    outputs:
      release_created: ${{steps.release_please.outputs.release_created}}
      sha: ${{steps.release_please.outputs.sha}}

  pypi:
    runs-on: ubuntu-latest
    needs: release_please
    if: needs.release_please.outputs.release_created
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{needs.release_please.outputs.sha}}
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - run: |
          set -euxo pipefail
          python -m pip install -U setuptools wheel
          python setup.py sdist bdist_wheel
          ls dist
      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{secrets.PYPI_TOKEN}}
