on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - run: |
          python -m pip install -U setuptools wheel
          python setup.py sdist bdist_wheel
      - uses: pypa/gh-action-pypi-publish@v1.4.1
        with:
          user: __token__
          password: ${{secrets.PYPI_TOKEN}}
