name: release

on:
  workflow_run:
    workflows:
      - check
    branches:
      - master
    types:
      - completed

jobs:
  release_please:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release_please
        with:
          release-type: python
          package-name: hashpipe
    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
      sha: ${{ steps.release_please.outputs.sha }}

  pypi_upload:
    runs-on: ubuntu-latest
    needs: release_please
    if: needs.release_please.outputs.release_created
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ needs.release_please.outputs.sha }}
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Create release assets
        run: |
          set -euxo pipefail
          python3 -m pip install -U setuptools wheel
          python3 setup.py sdist bdist_wheel
          ls dist
      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
